name: build-petr4

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
  workflow_call:

jobs:
  build:
    matrix:
      os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    steps: 
      - name: checkout/main
        uses: actions/checkout@v3
      
      - name: setup-ocaml
        uses: ocaml/setup-ocaml@v2
        with:
          ocaml-compiler: '4.14.0'
          dune-cache: false
          opam-repositories: |
            default: https://opam.ocaml.org
            coq-released: https://coq.inria.fr/opam/released
          opam-pin: true
          opam-local-packages: "*.opam"

      - run: opam install . --deps-only
      - run: opam exec -- dune build
      - run: opam exec -- make ci-test
      - run: ./.github/scripts/test-gcl-compiler.sh
