name: ci-stf-test

on:
  workflow_dispatch:
  # workflow_run:
  #   workflows: ["push-petr4-docker-img"]
  #   branches: [main]
  #   types:
  #     - completed

jobs:
  petr4-vs-p4c:
    runs-on: ubuntu-latest
    # if: ${{ github.event.workflow_run.conclusion == 'success' }}
    container:
      image: pataei/petr4:main
    steps: 
      - name: update git version
        run: |
          sudo apt-get install -y software-properties-common 
          sudo apt-get update 
          sudo add-apt-repository -y ppa:git-core/ppa 
          sudo apt-get update 
          sudo apt-get install -y git
      - uses: actions/checkout@v3
      - name: stf test petr4 vs p4c
        run: ./.github/scripts/stf-test-petr4-vs-p4c.sh
        shell: bash
      - name: add result of stf test to git repo
        run: |
          git config --global --add safe.directory /__w/petr4/petr4
          git add ci-test/stf-test/*
          git commit -am "write stf result...see if p4c is working"
          git push origin
